.navbar{
    box-shadow: 2px 2px 5px #000000;
}
.navbar .nav-item .nav-link{
    color: white;
}
.main-header{
    background: url("../Media/fondo.jpg") no-repeat;
    width: 100%;
    height: 120vh;
    background-size:cover;
    position: relative;
}
#carousel{
  padding-top: 30px;
}
.carousel-item{
  /*width: 100%;
  height: 120vh;
  background-size:cover;
  position: relative;*/
}
.team{
    background: rgba(21, 67, 96,1.0);
}
.team .card{
    margin-bottom: 10px;
    margin-top: 30px;
    height: 85%;
}
