.navbar{
    box-shadow: 2px 2px 5px #000000;
    background-color: #E68088;
}
.navbar .nav-item .nav-link{
    color: white;
}

.main{
  height: 100%;
  width: 100%;
  background: url("../Media/fondo.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}
/*Form register y log in*/
.form-box{
  width: 380px;
  height: 550px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}
/*Sombra boton superior*/
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
/*posicionar los botones*/
.toggle-btn{
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
/*Añadir color a los btones*/
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}
/*Colocar las cajitas escribir*/
.input-group{
  top: 140px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
/*Diseño botón log in*/
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
/*Ajustes recordar contra*/
.check-box{
  margin: 10px 50px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 71px;
  left: 20px;
  position: absolute;
}
/*Separar formularios de login y register*/
#login{
  left: 50px;
}
#register{
  left: 450px;
}
